@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #1f2937; /* Default theme color */
  --color-secondary: #3b82f6;
  --color-background: #ffffff;
  --color-text: #1f2937;
  /* Add more variables as needed */
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}
/* index.css */

.theme-default {
  --color-primary: #1f2937;
  --color-secondary: #3b82f6;
  --color-background: #ffffff;
  --color-text: #1f2937;
}

.theme-dark {
  --color-primary: #ffffff;
  --color-secondary: #9333ea;
  --color-background: #1f2937;
  --color-text: #ffffff;
}

/* Add more themes as needed */

